@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mukta:700');

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

.bg-waves {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  display: block;
}

.js-canvas {
  width: 100%;
  height: 100%;
}

#section1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

#container {
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 80pt;
  top: 0;
  bottom: 0;
  filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
  position: absolute;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 120pt;
  text-align: left;
  top: 0px;
  left: 150px;
  user-select: none;
}

#fixedText {
  font-family: 'Raleway', sans-serif;
  font-size: 120pt;
  position: relative;
  top: -200pt;
  left: 150px;
  pointer-events: none;
}

#fixedText div:nth-child(1) {
  color: red;
}

#fixedText div:nth-child(2) {
  color: black;
  position: relative;
  top: -40pt;
}

#descriText {
  position: relative;
  top: 180pt;
  left: -250px;
  color: #333;
  line-height: 1.5;
}

#descriText div:nth-child(1) {
  font-family: 'Raleway', sans-serif;
  color: #333;
  line-height: 1.5;
  font-size: 30pt;
}

#descriText div:nth-child(2) {
  font-family: 'Raleway', sans-serif;
  font-size: 20pt;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65,0,.076,1);
  position: relative;
  display: block;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65,0,.076,1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

button.learn-more .circle .icon.arrow {
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  content: '';
  position: absolute;
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65,0,.076,1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 1.85rem;
  padding: 0.75rem 0;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button.learn-more:hover .circle {
  width: 100%;
}

button.learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translateX(1rem);
}

button.learn-more:hover .button-text {
  color: #fff;
}

.button-wrap {
  position: absolute;
  right: 150px;   /* 控制离右边距离 */
  top: 76%;       /* 控制上下位置 */
  transform: translateY(-50%);
  z-index: 10;

   display: flex;          /* 开启纵向排列 */
  flex-direction: column; /* 垂直 */
  gap: 20px;              /* 按钮间距 */

  z-index: 10;
}