 @import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Special+Elite');
  
  body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ffffff; /* 背景色放在这里 */
    overflow-x: hidden;
  }

  /* 修正：让背景容器真正占满全屏并置于底层 */
  .bg-waves {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* 确保在所有内容下面 */
    pointer-events: none;
    display: block;
  }

  .js-canvas {
    width: 100%;
    height: 100%;
  }

  .sidebar {
    position: fixed;
    top: 70%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 10; /* 保证在最前面 */
  }

  .sidebar a {
    color: #222;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 8px 16px;
    border-radius: 6px;
    transition: all 0.3s;
    text-align: right;
  }

  .sidebar a.active, .sidebar a:hover {
    background-color: #222;
    color: #fff;
  }

  .main {
    margin-right: 150px;
  }

  section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: transparent; /* 关键：必须透明，否则会遮挡动画 */
  }

  /* Morphing Text Styles */
  #container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
  }

  #text1, #text2 {
    position: absolute;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 120pt;
    text-align: left;
    left: 150px;
    user-select: none;
  }

  #fixedText {
    font-family: 'Raleway', sans-serif;
    font-size: 120pt;
    position: absolute;
    top: -200pt;
    left: 150px;
    pointer-events: none;
  }

  #fixedText div:nth-child(1) {
  color: red; /* 这里把 Red 改回红色了，如果你要黑色请自行修改 */
}

#fixedText div:nth-child(2) {
  color: black;
  position: relative;
  top: -40pt; /* 在 line-height 的基础上，再微调 the 向上移动的距离 */
}


#descriText {
    
    position: absolute;
    top: 420pt;       /* 放在动态文字下方 */
    left: 70px;          /* 相对于 container 是 0 */  
    color: #333;
    line-height: 1.5;
}

#descriText div:nth-child(1){
    font-family: 'Raleway', sans-serif;
    top: 420pt;       /* 放在动态文字下方 */
    left: 70px;          /* 相对于 container 是 0 */  
    color: #333;
    line-height: 1.5;
    font-size: 30pt; 
}
#descriText div:nth-child(2){
    font-family: 'Raleway', sans-serif;
    top:420pt;
    right:70px;
    font-size:20pt;
}

#amtText {
    position: relative;
    top: -170px;
    left: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    font-weight: 700;

}

#psText {
    position :relative;
    left: -120px;
    line-height: 0.4;
    font-family: 'Courier';
    font-weight: 700;
    font-size: 15pt;



}

.quote-wrapper {
    position: absolute;   
    left: 500px;           
    bottom: -620px;         
    max-width: 400px;      
}

.quote-wrapper blockquote {
    font-family: 'Special Elite', cursive;
    font-weight: 100;
    font-size: 15pt;
    color: #3f3f5a;
    margin: 0;
    padding: 0;
}

.quote-wrapper blockquote span {
    display: block;
    margin-top: 5px;
    font-size: 12pt;
    text-align: right;      
}